services:
  frontend:
    build:
      context: ./Front
      dockerfile: Dockerfile
      args:
        - FRONT_PORT=${FRONT_PORT}
    volumes:
      - ./Front:/frontend
      - /frontend/node_modules
    ports:
      - "${FRONT_PORT}:${FRONT_PORT}"
    environment:
      - NODE_ENV=development
    env_file:
      - .env


    command: sh -c "npm run css & npm run dev"
